In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [13]:
from pandas import ExcelFile, ExcelWriter

data = pd.read_excel(open('KPMG_VI_New_raw_data_update_final.xlsx', 'rb'),sheet_name='CustomerDemographic', header=1)

data.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [19]:
data.shape, data.isna().sum()

((4000, 13), customer_id                              0
 first_name                               0
 last_name                              125
 gender                                   0
 past_3_years_bike_related_purchases      0
 DOB                                     87
 job_title                              506
 job_industry_category                  656
 wealth_segment                           0
 deceased_indicator                       0
 default                                302
 owns_car                                 0
 tenure                                  87
 dtype: int64)